In [ ]:
for i in range(1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
sum_of_numbers = 0
i = 1
while i <= 20:
    sum_of_numbers += i
    i += 1
print("The sum of the first 20 natural numbers is:", sum_of_numbers)

The sum of the first 20 natural numbers is: 210

In [ ]:
word = input("enter a word")
for char in word:
    print(char)

enter a word sata

s
a
t
a

In [ ]:
number = 7
while number>= 0:
    print(number)
    number -= 1

7
6
5
4
3
2
1
0

In [ ]:
for i in range(2,51,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
number = int(input("enter a number"))
for i in range(1,11):
    print(f"{number} x {i} = {number*i}")

enter a number 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
given_int = 14
factorial = 1
if given_int<0:
    while

In [ ]:
number =int(input("enter a nummber"))
factorial = 1
if number < 0:
    print("Factorial is not defined for negative numbers.")
else:
    while number > 1:
        factorial *= number
        number -= 1
    print(f"The factorial is: {factorial}")

enter a nummber 5

The factorial is: 120

In [ ]:
for number in range(1, 101):
    if number % 3 == 0 and number % 5 == 0:
        print(number)

15
30
45
60
75
90

In [ ]:
a, b = 0, 1
count = 1
while count <= 10:
    print(a, end=' ')
    a, b = b, a + b
    count += 1

0 1 1 2 3 5 8 13 21 34

In [ ]:
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the annual interest rate in %: "))
years = 5
for t in range(1, years + 1):
    amount = principal * (1 + rate / 100) ** t
    interest = amount - principal
    print(f"Year {t}: Amount = {amount}, Interest = {interest}")

Enter the principal amount:  500
Enter the annual interest rate in %:  50

Year 1: Amount = 750.0, Interest = 250.0
Year 2: Amount = 1125.0, Interest = 625.0
Year 3: Amount = 1687.5, Interest = 1187.5
Year 4: Amount = 2531.25, Interest = 2031.25
Year 5: Amount = 3796.875, Interest = 3296.875

In [ ]:
user_input = input("Enter a string: ")
reversed_string = ""
for char in user_input:
    reversed_string = char + reversed_string
print("Reversed string:", reversed_string)

Enter a string:  hello

Reversed string: olleh

In [ ]:
user_input = input("Enter a list of numbers separated by spaces: ")
numbers = [int(num) for num in user_input.split()]
min_value = numbers[0]
max_value = numbers[0]
for num in numbers:
    if num < min_value:
        min_value = num
    if num > max_value:
        max_value = num
print(f"The minimum value is: {min_value}")
print(f"The maximum value is: {max_value}")

Enter a list of numbers separated by spaces:  7 9 3 6 2 8

The minimum value is: 2
The maximum value is: 9

In [ ]:
for num in range(10, 51):
    prime = True
    for i in range(2, num):
        if num % i == 0:
            prime = False
            break
    if prime:
        print(num)

11
13
17
19
23
29
31
37
41
43
47

In [ ]:
number = int(input("Enter an integer: "))
original_number = number
reversed_number = 0
while number > 0:
    digit = number % 10
    reversed_number = reversed_number * 10 + digit
    number //= 10
if original_number == reversed_number:
    print(f"{original_number} is a palindrome.")
else:
    print(f"{original_number} is not a palindrome.")

Enter an integer:  222

222 is a palindrome.

In [ ]:
items = {"milk": 5, "bread": 3, "cake": 7}
for item, quantity in items.items():
    while quantity > 0:
        print(f"Selling 1 {item}. Remaining: {quantity - 1}")
        quantity -= 1
    print(f"{item} is sold out.")

Selling 1 milk. Remaining: 4
Selling 1 milk. Remaining: 3
Selling 1 milk. Remaining: 2
Selling 1 milk. Remaining: 1
Selling 1 milk. Remaining: 0
milk is sold out.
Selling 1 bread. Remaining: 2
Selling 1 bread. Remaining: 1
Selling 1 bread. Remaining: 0
bread is sold out.
Selling 1 cake. Remaining: 6
Selling 1 cake. Remaining: 5
Selling 1 cake. Remaining: 4
Selling 1 cake. Remaining: 3
Selling 1 cake. Remaining: 2
Selling 1 cake. Remaining: 1
Selling 1 cake. Remaining: 0
cake is sold out.

In [ ]:
expenses = [700, 12, 190, 400]
budget = 3000
total_expense = 0
for expense in expenses:
    total_expense += expense
print("Total project cost:", total_expense)
covered_expenses = 0
while budget > 0 and covered_expenses < len(expenses):
    budget -= expenses[covered_expenses]
    covered_expenses += 1
print(f"Number of expenses covered: {covered_expenses}, Remaining budget: {budget}")

Total project cost: 1302
Number of expenses covered: 4, Remaining budget: 1698

In [ ]:
import random
employees = ["Sara", "farah", "muhammad", "ali"]
for employee in employees:
    attempts = 0
    while attempts < 3:
        if random.choice([True, False]):
            print(f"{employee} attended.")
            break
        else:
            print(f"Reminder {attempts + 1} sent to {employee}.")
            attempts += 1

Sara attended.
Reminder 1 sent to farah.
farah attended.
muhammad attended.
Reminder 1 sent to ali.
ali attended.

In [ ]:
transactions = [{"id": 1, "amount": 1000}, {"id": 2, "amount": 250}]
for transaction in transactions:
    confirmation = ""
    while confirmation.lower() != "yes":
        confirmation = input(f"Confirm details for transaction {transaction['id']} (type 'yes' to confirm): ")
print("All transactions confirmed.")

Confirm details for transaction 1 (type 'yes' to confirm):  yrs
Confirm details for transaction 1 (type 'yes' to confirm):  yes
Confirm details for transaction 2 (type 'yes' to confirm):  yes

All transactions confirmed.

In [ ]:
issues = ["Issue 1", "Issue 2", "Issue 3"]
for issue in issues[:10]:
    attempts = 0
    while attempts < 3:
        attempts += 1
        resolved = True
        print(f"Resolved {issue} in {attempts} attempts.")

Resolved Issue 1 in 1 attempts.
Resolved Issue 1 in 2 attempts.
Resolved Issue 1 in 3 attempts.
Resolved Issue 2 in 1 attempts.
Resolved Issue 2 in 2 attempts.
Resolved Issue 2 in 3 attempts.
Resolved Issue 3 in 1 attempts.
Resolved Issue 3 in 2 attempts.
Resolved Issue 3 in 3 attempts.

In [ ]:
scores = [30, 76, 95]
for score in scores:
    while score > 100:
        score = 100
    print("Final grade:", score)

Final grade: 30
Final grade: 76
Final grade: 95